#videos
	@extend .box

	padding-top 20px
	background-color #302B23
	position relative
	height auto
	z-index 20

	iframe
		margin-bottom 20px

	> div
		@extend .fill-width

		margin 0 auto
		margin-top 50px
		max-width 600px