.box
	@extend .float-left,
			.fill-width
			
	h1, h2, h3, p
		text-align center

.box-darker
	background-color color-2
	color #FFF

.box-dark
	background-color color-4
	color #fff

.box-light
	background-color color-1
	color color-4